@page "/employees"
@inherits EmployeeListBase

<h4>Selected employees: @SelectedEmployeesCount</h4>

<input type="checkbox" id="showFooter" @bind="ShowFooter"/>
<label for="showFooter">Editing</label>
@if(Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEdit Employee="employee" ShowFooter="ShowFooter"
                OnEmployeesSelection="EmployeesSelectionChanged"
                OnEmployeesDeleted="EmployeeDeleted">
            </DisplayEdit>
        }
    </div>
}

